<h1>Cronologia Bíblia</h1>

<table class="table table-striped">
  <% @timeline.each do |event| %>
    <% event = EventDecorator.new(event) %>

    <tr>
      <td> <small><%= event.formatted_precision %> </small> </td>
      <td class="no-wrap"><strong><%= event.formatted_year %></strong></td>
      <td> <%= event.name %> </td>
    </tr>
  <% end %>
</table>
