// https://rossta.net/blog/webpacker-with-bootstrap.html
// $body-bg: aliceblue;
// $body-color: #111;
@import "bootstrap/scss/bootstrap.scss";

#top-menu {
  background: #ddd;
  padding: 10px;
  margin-bottom: 30px;

  a {
    padding: 10px;
  }
}

.no-wrap {
  white-space: nowrap;
}

.timeline {
  width: 8000px;
  color: blue;

  .line {
    width: 7000px;
    height: 20px;
    position: sticky;
    border-bottom: 1px solid gray;
    top: 150px;
    padding-left: 100px;

    .year {
      width: 200px;
      float: left;
      border-left: 1px solid gray;
      padding-left: 10px;
      padding-bottom: 4px;
    }
  }
}

.events {
  padding-top: 50px;
  padding-bottom: 2000px;
}

.event {
  border-left: 1px solid gray;
  padding-left: 10px;
  margin-bottom: 2px;
  color: gray;
  float: left;
  clear: both;

  &.long-event {
    background: gold;
    border-right: 1px solid gray;
    border-color: gold;
    text-align: center;
  }
}

