#top-menu {
  background: #ddd;
  padding: 10px;
  margin-bottom: 30px;

  a {
    padding: 10px;
  }
}

.no-wrap {
  white-space: nowrap;
}

.timeline {
  width: 8000px;
}

.event {
  border-left: 2px solid black;
  padding-left: 4px;
}
